@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --dark: #19191a;
  --gray: #232324;
  --light-gray: #505051;
  --blue: #6488a1;
  --yellow: #ff9e00;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Mulish', sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all 1s ease 0s;
}
.body {
  position: relative;

  color: var(--white);
}
.body::after {
  position: absolute;
  content: '';
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--dark);

  z-index: -2;
}
.body.light-theme::after {
  background: var(--blue);
}
a {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.App {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;

  position: relative;
}
.container {
  display: flex;
  justify-content: space-between;
}
.main-content {
  padding: 10px;
  width: 100%;
  background-color: var(--gray);

  border-radius: 3px;
}
.body.light-theme .main-content {
  background-color: var(--blue);
}
.custom-input {
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-gray);

  color: var(--white);
}
.custom-input:focus,
.custom-input:active {
  outline: none;
  border-bottom: 1px solid var(--white);
}
.body.light-theme .custom-input:focus,
.body.light-theme .custom-input:active {
  border-bottom: 1px solid var(--black);
}
.custom-ckeckbox {
  border: 1px solid var(--white);
  border-radius: 3px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  padding: 0 5px;

  cursor: pointer;
}
.body.light-theme .custom-ckeckbox{
  border: 1px solid var(--black);
}
.custom-ckeckbox .checkmark {
  font-size: 1.4rem;
  display: block;
  opacity: 0;
}
.custom-ckeckbox input[type='checkbox']:checked ~ .checkmark{
  opacity: 1;
}
