.message {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-gray);
}
.message__container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.message__from {
  padding-bottom: 4px;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--yellow);
}
.message__text {
  font-size: 1.2rem;
}
.message__date {
  font-size: 1.1rem;
  color: var(--light-gray);
}
.message__btns {
  display: flex;
  justify-content: end;
  align-items: center;
}
@media (min-width: 768px) {
  .message__text-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    align-items: center;
  }
  .message__from {
    grid-area: 1 / 1 / 2 / 2;
  }
  .message__text {
    grid-area: 1 / 2 / 2 / 4;
  }
  .message__date {
    grid-area: 1 / 4 / 2 / 5;
    justify-self: end;
  }
}